* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #ddeadf;
  display: flex;
}

.radiator {
  padding: 30px 0px 0px 20px;
}

.img {
  width: 150px;
  height: 200px;
  margin-left: 50px;
}

.title {
  padding-top: 30px;
  margin-left: 180px;
}

h1 {
  color: #3b3b3b;
  font-size: 50px;
}

h2 {
  color: #cd2e31;
  font-size: 110px;
}

.btn {
  display: flex;
  width: 200px;
  padding: 15px;
  font-size: 25px;
  float: right;
  margin-top: -90px;
  margin-right: 40px;
  background-color: #3b3b3b;
  color: white;
  cursor: pointer;
}

.chevron {
  width: 32px;
  margin-left: 8px;
}

#check {
  display: none;
}

.content {
  display: none;
  background-color: white;
  width: 70%;
  margin: 20px 300px;
  color: #3b3b3b;
}

.p1 {
  font-size: 35px;
  margin-bottom: 15px;
}

.p2 {
  font-size: 25px;
  margin-bottom: 15px;
}

.p3 {
  font-size: 23px;
}

#check:checked ~ .content {
  display: block;
}

#check:checked ~ label {
  visibility: hidden;
}

#check:checked ~ label:after {
  content: "Read Less";
  visibility: visible;
  display: flex;
  width: 200px;
  padding: 15px;
  font-size: 25px;
  background-color: #3b3b3b;
  color: white;
  cursor: pointer;
}

@media screen and (max-width: 300px) {
  .header {
    background-color: #ddeadf;
    display: flex;
    padding-bottom: 40px;
  }

  .title {
    padding-top: 10px;
    margin-left: 0px;
  }

  .radiator {
    padding: 0px 0px 0px 0px;
  }

  .img {
    width: 0px;
    height: 0px;
  }

  h1 {
    color: #3b3b3b;
    font-size: 20px;
  }

  h2 {
    color: #cd2e31;
    font-size: 35px;
  }

  .btn {
    display: flex;
    width: 80px;
    padding: 6px;
    font-size: 10px;
    margin-top: -35px;
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
  }

  .chevron {
    width: 15px;
    margin-left: 8px;
  }

  #check {
    display: none;
  }
  
  .content {
    display: none;
    background-color: white;
    margin-left: 35px;
    color: #3b3b3b;
  }
  
  .p1 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  
  .p2 {
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .p3 {
    font-size: 13px;
  }
  
  #check:checked ~ .content {
    display: block;
  }
  
  #check:checked ~ label {
    visibility: hidden;
  }
  
  #check:checked ~ label:after {
    content: "Read Less";
    visibility: visible;
    display: flex;
    width: 80px;
    padding: 8px;
    font-size: 15px;
    margin-top: -30px;
    background-color: #3b3b3b;
    color: white;
    cursor: pointer;
  }
}
